<div class="grid pt3 pb8">
  <div class="flex items-center">
    <div class="main-description mx-auto w100p text-center">
      <h5 class="heading">{{ collection.title }}</h5>
      <div class="text-left">
        {{ collection.description }}
      </div>
    </div>
  </div>
  <div class="collection-row text-center overflow-hidden pt6">
    {% for product in collection.products %}
      <div class="collection-item border-box">
        <a href="{{ product.url }}" class="inline-block no-underline black w100p">
          {% for image in product.images %}
            {% if forloop.first == true %}
              <div class="h100p">
                <div class="bg-center bg-cover" style="padding-top: 125%; background-image: url({{ image | img_url: '500x' }})"></div>
              </div>
            {% endif %}
          {% endfor %}
          <div class="flex justify-between">
            <div class="text-left">
              <p class="bembo mb0" style="margin-bottom: .25rem;">
                Concept {{ forloop.index }}:
              </p>
              <p class="m0">{{ product.title }}</p>
            </div>
            <p>{{ product.price | money_without_trailing_zeros }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="text-center pb6">
    <a class="border border-smoke py1 px2 bembo black no-underline" href="/pages/essays">
      Read the Essays
    </a>
  </div>
</div>
