<div>
  <div class="text-center pt4 hide-lg">
    {% for secondary in linklists.secondary-menu.links %}
      <a href="#" data-id="{{ secondary.title | handleize }}" class="thumbnail inline-block no-underline collection-filter dark-pink border border-dark-pink rounded text-center">
        {{ secondary.title }}
      </a>
    {% endfor %}
  </div>
  {% for secondary in linklists.secondary-menu.links %}
    {% for collection in collections %}
      {% if collection.title == secondary.title %}
        <div id="{{ secondary.title | handleize }}" class="border-bottom border-smoke py4">
          <div class="text-center">
            <h5 class="m0 heading text-normal">
              {{ collection.title }}
            </h5>
          </div>
          <div class="flex-md flex-wrap pt4">
            {% for product in collection.products limit: 4 %}
              {% include 'collection'%}
            {% endfor %}
          </div>
          <div class="text-center">
            <a href="{{ collection.url }}" class="button h5 no-underline inline-block text-uppercase bg-black rounded white no-border">
              See all {{ collection.title }}
            </a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
{% include 'insta-famous' %}
{% include 'give-back' %}
