{% style %}

.footer nav {
  margin-top: 0.25rem;
}

.footer nav * {
  margin-bottom: 0.5rem;
}

.footer .social {
  margin-top: 0.25rem;
}

{% endstyle %}
<div class="border-top border-smoke">
  <footer class="footer grid hide show-lg">
    <div class="flex pt3 pb3 black">
      <div class="w20p left">
        {% assign logo_width = 123 %}
        {% include 'logo' %}
        <p class="medium-gray h6 mb0">
          ©
          {{ 'now' | date: "%Y" }}
          Ragen Jewels.<br/>All rights reserved.
        </p>
      </div>
      <div class="overflow-hidden w50p left mb1 h6">
        <nav class="w30p left">
          <p class="m0 bold">Ragen Jewels</p>
          {% for ragen in linklists.ragen-menu.links %}
            <a class="inline-block no-underline black hover-opacity-5" href="{{ ragen.url }}">
              {{ ragen.title }}
            </a><br/>
          {% endfor %}
        </nav>
        <nav class="w30p left">
          <p class="m0 bold">Help</p>
          {% for help in linklists.help-menu.links %}
            <a class="inline-block no-underline black hover-opacity-5" href="{{ help.url }}">
              {{ help.title }}
            </a><br/>
          {% endfor %}
        </nav>
        <nav class="w30p left">
          <p class="m0 bold">Account</p>
          {% for account in linklists.account-menu.links %}
            <a class="inline-block no-underline black hover-opacity-5" href="{{ account.url }}">
              {{ account.title }}
            </a><br/>
          {% endfor %}
        </nav>
      </div>
      <div class="social overflow-hidden w30p left">
        <div class="mb1">
          <a class="inline-block black mr1 hover-opacity-5" href="https://www.instagram.com/ragenjewels/?hl=en" target="_blank">
            {% include 'instagram-icon' %}
          </a>
          <a class="inline-block black mr1 hover-opacity-5" href="https://www.facebook.com/ragenjewels/" target="_blank">
            {% include 'facebook-icon' %}
          </a>
          <a class="inline-block black mr1 hover-opacity-5" href="https://www.pinterest.com/ragenjewels/" target="_blank">
            {% include 'pinterest-icon' %}
          </a>
          <a class="inline-block black hover-opacity-5" href="https://twitter.com/ragenjewels" target="_blank">
            {% include 'twitter-icon' %}
          </a>
        </div>
        <label class="block black h6" for="mce-EMAIL" style="margin-bottom: .5rem;">
          Be an insider! Sign up for the Ragen newsletter:
        </label>
        {% include 'footer-signup' %}
      </div>
    </div>
  </footer>

  <footer class="footer grid grid hide-lg black">
    <nav class="py1 h6">
      <p class="m0 bold">Ragen</p>
      {% for ragen in linklists.ragen-menu.links %}
        <a class="inline-block no-underline black hover-opacity-5" href="{{ ragen.url }}">
          {{ ragen.title }}
        </a><br/>
      {% endfor %}
      <span class="pb1 block"></span>
      <p class="m0 bold">Help</p>
      {% for help in linklists.help-menu.links %}
        <a class="h5 inline-block no-underline black hover-opacity-5" href="{{ help.url }}">
          {{ help.title }}
        </a><br/>
      {% endfor %}
      <span class="pb1 block"></span>
      <p class="m0 bold">Account</p>
      {% for account in linklists.account-menu.links %}
        <a class="h5 inline-block no-underline black hover-opacity-5" href="{{ account.url }}">
          {{ account.title }}
        </a><br/>
      {% endfor %}
    </nav>
    <div class="overflow-hidden pt1 pb2">
      <div class="mb1">
        <a class="inline-block black mr1 hover-opacity-5" href="https://www.instagram.com/ragenjewels/?hl=en" target="_blank">
          {% include 'instagram-icon' %}
        </a>
        <a class="inline-block black mr1 hover-opacity-5" href="https://www.facebook.com/ragenjewels/" target="_blank">
          {% include 'facebook-icon' %}
        </a>
        <a class="inline-block black mr1 hover-opacity-5" href="https://www.pinterest.com/ragenjewels/" target="_blank">
          {% include 'pinterest-icon' %}
        </a>
        <a class="inline-block black hover-opacity-5" href="https://twitter.com/ragenjewels" target="_blank">
          {% include 'twitter-icon' %}
        </a>
      </div>
      <label class="block black h6" for="mce-EMAIL" style="margin-bottom: .5rem;">
        Be an insider! Sign up for the Ragen newsletter:
      </label>
      {% include 'footer-signup' %}
    </div>
    <div class="text-center">
      {% assign logo_width = 123 %}
      {% include 'logo' %}
      <p class="medium-gray h6 pb2 mb0">
        &copy;
        {{ 'now' | date: "%Y" }}
        Ragen Jewels.<br/>All rights reserved.
      </p>
    </div>
  </footer>
</div>
