<div class="mobile-nav z10 fixed t0 l0 b0 scroll-y w100p">
  <div class="w70p bg-tan text-center left">
    <div class="js-mobile-nav-close text-left pt1 px2 pointer">
      <svg class="inline-block v-middle" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
        <polygon points="7.5 8.5 1 14.9 0 13.9 6.5 7.5 0 1 1 0 7.5 6.5 14 0 15 1 8.5 7.5 15 14 14 15" fill="#6D6D6D"/>
      </svg>
    </div>
    <nav class="py1">
      <p class="with-underline inline-block bembo mt0 mb2 px1">Products</p>
      {% for products in linklists.products-menu.links %}
        <a class="link block h5" href="{{ products.url }}">
          {{ products.title }}
        </a>
        <br />
      {% endfor %}
    </nav>
    <nav class="py1">
      <p class="with-underline inline-block bembo mt0 mb2 px1">About</p>
      {% for about in linklists.about-menu.links %}
        <a class="link block h5" href="{{ about.url }}">
          {{ about.title }}
        </a>
        <br />
      {% endfor %}
    </nav>
    <nav class="py1">
      <p class="with-underline inline-block bembo mt0 mb2 px1">Connect</p>
      {% for connect in linklists.connect-menu.links %}
        <a class="link block h5" href="{{ connect.url }}">
          {{ connect.title }}
        </a>
        <br />
      {% endfor %}
    </nav>
    <nav class="py1">
      <p class="with-underline inline-block bembo mt0 mb2 px1">Info</p>
      {% for info in linklists.info-menu.links %}
        <a class="link block h5" href="{{ info.url }}">
          {{ info.title }}
        </a>
        <br />
      {% endfor %}
    </nav>
    <p class="bronze h5 mb3">
      <span class="block">© 2018 Matthew Anderson.</span>
      <span class="block">All rights reserved.</span>
    </p>
  </div>
  <div class="js-mobile-nav-close w30p h100p left"></div>
</div>
