{% style %}

.product-input button * {
  margin-top: -1px;
}

{% endstyle %}

{% assign available = product.first_available_variant.available %}
{{collection.name}}
<h2 class="mt0 mb1">{{ product.title }}</h2>
{% if available %}
  <span class="mt0 mb1 bold">
    {{ product.price | money_without_trailing_zeros }}
    {% if product.compare_at_price_max > 0 %}
      <strike class="strike pink">
        <span class="mild-gray">{{ product.compare_at_price_max | money_without_trailing_zeros }}</span>
      </strike>
    {% endif %}
  </span>
  <div class="mb1">
    {% include 'product-quadpay' %}
  </div>
{% else %}
  <p class="mt0 mb1 medium-gray">Sold Out</p>
{% endif %}
<div class="pdp-description charcoal h5">
  {{ product.description }}
</div>
<span class="pb1 block"></span>
<form action="/cart/add" class="js-cart-form" enctype="multipart/form-data" method="post">
  <div class="relative black">
    {% if available %}
      <select name="id" type="hidden">
        {% for variant in product.variants %}
          {% if variant.available == true %}
            <option value="{{ variant.id }}" data-variants-length="{{ variant.inventory_quantity }}">
              {{ variant.title }}
            </option>
          {% else %}
            <option disabled="disabled">
              {{ variant.title }}
              - sold out!
            </option>
          {% endif %}
        {% endfor %}
      </select>
      {% for product_option in product.options_with_values %}
        {% if product_option.name == 'Color' %}
          {% style %}

.option-color::before {
  content: '';
  width: 1rem;
  height: 1rem;
  border-radius: 3px;
  display: inline-block;
  margin-right: 0.5rem;
  position: relative;
  top: 2px;
}
{% for value in product_option.values %}
  {% if value == 'Gold' %}
    .bg-option-{{value | handleize}}::before {
      background-color: gold
    }
  {% endif %}
  {% if value == 'Silver' or value == 'Sillver' %}
    .bg-option-{{value | handleize}}::before {
      background-color: silver
    }
  {% endif %}
  {% if value == 'Blue' %}
    .bg-option-{{value | handleize}}::before {
      background-color: slateblue
    }
  {% endif %}
  {% if value == 'Red' %}
    .bg-option-{{value | handleize}}::before {
      background-color: crimson
    }
  {% endif %}
  {% if value == 'Rose Gold' %}
    .bg-option-{{value | handleize}}::before {
      background-color: mistyrose
    }
  {% endif %}
  {% if value == 'Rhodium' %}
    .bg-option-{{value | handleize}}::before {
      background-color: gainsboro
    }
  {% endif %}
  {% if value == 'Black' %}
    .bg-option-{{value | handleize}}::before {
      background-color: black
    }
  {% endif %}
  {% if value == 'Navy' %}
    .bg-option-{{value | handleize}}::before {
      background-color: navy
    }
  {% endif %}
  {% if value == 'Teal' %}
    .bg-option-{{value | handleize}}::before {
      background-color: teal
    }
  {% endif %}
  {% if value == 'Pink' %}
    .bg-option-{{value | handleize}}::before {
      background-color: pink
    }
  {% endif %}
{% endfor %}

{% endstyle %}
        {% endif %}

        {% if product_option.name != 'Title' %}
          <label class="h5 block mb1">
            <span class="block">Select a
              {{ product_option.name | downcase }}</span>
            <div class="flex flex-wrap">
              {% for value in product_option.values %}
                <div class="product-input relative">
                  <input data-option-value="{{ value }}" data-position="{{ product_option.position }}" class="absolute t0 l0 r0 b0 w100p h100p pointer m0 o0p z1" type="radio" name="{{ product_option.name }}" value="{{ value }}" {% if product_option.selected_value == value %} checked {% endif %}/>
                  <button class="product-option medium-gray product-{{ product_option.name }} border border-mild-gray rounded m0 flex items-center justify-center bg-white {% if product_option.selected_value == value %}black border-black{% endif %}" type="button">
                    {% if product_option.name == 'Color' %}
                      <div class="option-color bg-option-{{ value | handleize }}"></div>
                    {% endif %}
                    <span class="h5 relative">{{ value }}</span>
                  </button>
                </div>
              {% endfor %}
            </div>
            <div>
              {% if product_option.name == 'Size' %}
                {% for collection in product.collections %}
                  {% if collection.title == 'Rings' %}
                    <a class="sizing-chart-trigger h6 pink no-underline" href="#">
                      See sizing chart
                    </a>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
          </label>
        {% endif %}
      {% endfor %}
      <input class="button mt1 bg-black white" id="add" name="add" type="submit" value="Add to Jewel Bag"/>
    {% endif %}
  </div>
</form>
