{% style %}

.product-input button * {
  margin-top: -1px;
}

{% endstyle %}

{% assign available = product.first_available_variant.available %}
<h2 class="mt0 mb1 text-normal">{{ product.title }}</h2>
<span class="product-details-price mt0 bold">
  {{ product.price | money_without_trailing_zeros }}
  {% if product.compare_at_price_max > 0 %}
    <strike class="strike">
      <span class="mild-gray">{{ product.compare_at_price_max | money_without_trailing_zeros }}</span>
    </strike>
  {% endif %}
</span>
{% include 'product-quadpay' %}
<form action="/cart/add" class="js-cart-form" enctype="multipart/form-data" method="post">
  <div class="relative black">
    <select name="id" type="hidden">
      {% for variant in product.variants %}
        {% if variant.available == true %}
          <option value="{{ variant.id }}" data-variants-length="{{ variant.inventory_quantity }}">
            {{ variant.title }}
          </option>
        {% else %}
          <option disabled="disabled">
            {{ variant.title }}
            - sold out!
          </option>
        {% endif %}
      {% endfor %}
    </select>
    {% for product_option in product.options_with_values %}
      {% if product_option.name == 'Metal' %}
        {% style %}

.option-color::before {
  content: '';
  width: 1rem;
  height: 1rem;
  border-radius: 3px;
  display: inline-block;
  margin-right: 0.5rem;
  position: relative;
  top: 2px;
}
{% for value in product_option.values %}
  {% if value == 'Gold' %}
    .bg-option-{{value | handleize}}::before {
      background-color: gold
    }
  {% endif %}
  {% if value == 'Silver' or value == 'Sillver' %}
    .bg-option-{{value | handleize}}::before {
      background-color: silver
    }
  {% endif %}
  {% if value == 'Blue' %}
    .bg-option-{{value | handleize}}::before {
      background-color: slateblue
    }
  {% endif %}
  {% if value == 'Red' %}
    .bg-option-{{value | handleize}}::before {
      background-color: crimson
    }
  {% endif %}
  {% if value == 'Rose Gold' %}
    .bg-option-{{value | handleize}}::before {
      background-color: mistyrose
    }
  {% endif %}
  {% if value == 'Rhodium' %}
    .bg-option-{{value | handleize}}::before {
      background-color: gainsboro
    }
  {% endif %}
  {% if value == 'Black' %}
    .bg-option-{{value | handleize}}::before {
      background-color: black
    }
  {% endif %}
  {% if value == 'Navy' %}
    .bg-option-{{value | handleize}}::before {
      background-color: navy
    }
  {% endif %}
  {% if value == 'Teal' %}
    .bg-option-{{value | handleize}}::before {
      background-color: teal
    }
  {% endif %}
  {% if value == 'Pink' %}
    .bg-option-{{value | handleize}}::before {
      background-color: pink
    }
  {% endif %}
{% endfor %}

{% endstyle %}
      {% endif %}

      {% if product_option.name != 'Title' %}
        <label class="h6 block mb1">
          <div class="flex">
            <span class="block dark-gray">{{ product_option.name }}</span>
            {% if product_option.name == 'Size' %}
              {% for collection in product.collections %}
                {% if collection.title == 'Rings' %}
                  &nbsp;&nbsp;-&nbsp;&nbsp;
                  <a class="sizing-chart-trigger h6 black" href="#">
                    view fit guide
                  </a>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
          <div class="flex flex-wrap">
            {% for value in product_option.values %}
              <div class="product-input relative">
                <input data-option-value="{{ value }}" data-position="{{ product_option.position }}" class="absolute t0 l0 r0 b0 w100p h100p pointer m0 o0p z1" type="radio" name="{{ product_option.name }}" value="{{ value }}" {% if product_option.selected_value == value %} checked {% endif %}/>
                <button class="product-option medium-gray product-{{ product_option.name }} border border-mild-gray rounded m0 flex items-center justify-center bg-white {% if product_option.selected_value == value %}black border-black{% endif %}" type="button">
                  {% if product_option.name == 'Metal' %}
                    <div class="option-color bg-option-{{ value | handleize }}"></div>
                  {% endif %}
                  <span class="h5 relative">{{ value }}</span>
                </button>
              </div>
            {% endfor %}
          </div>
        </label>
      {% endif %}
    {% endfor %}
    {% assign max_chars = 10 %}
    {% if product.metafields.global.customizable_max != blank %}
      {% assign max_chars = product.metafields.global.customizable_max %}
    {% endif %}
    {% if product.metafields.global.customizable != blank %}
      <label class="h6 block">
        <span class="block dark-gray">Customization (max of
          {{ max_chars }}
          characters)</span>
        <input autocomplete="off" class="input-customization border border-smoke focus-border-black w100p p0_5 h4 border-box text-uppercase" data-max="{{ max_chars }}" name="properties[Name]" required type="text"/>
      </label>
      {% if product.handle != 'custom-curb-chain-bracelet' %}
        <div class="flex items-center relative z10">
          <span class="h6 dark-gray" style="margin-right: .5rem">Available symbols:</span>
          <button class="button-reset button-emoji" type="button">&#x2764;&#xfe0f;</button>
          <button class="button-reset button-emoji" type="button">&#x2b50;</button>
          <button class="button-reset button-emoji" type="button">&#x26a1;</button>
        </div>
      {% endif %}
    {% endif %}

    <div class="border-bottom border-smoke" style="margin: 1.25rem 0 1.25rem;padding-bottom: .5rem;">
      <div class="relative" id="product-submit">
        <input class="button mb1 bg-black white w100p relative z2" id="add" name="add" type="submit" value="Add to Jewel Bag"/>
      </div>
      {% if product.metafields.global.notification_text != blank %}
        <div class="flex items-center">
          <svg fill="currentColor" viewbox="0 0 330 330" width="14" xmlns="http://www.w3.org/2000/svg">
            <path d="M165 0C74 0 0 74 0 165 0 256 74 330 165 330s165-74 165-165C330 74 256 0 165 0zM165 300c-74.4 0-135-60.6-135-135C30 90.6 90.6 30 165 30s135 60.6 135 135C300 239.4 239.4 300 165 300z"/>
            <path d="M165 70c-11 0-20 9-20 20 0 11 9 20 20 20 11 0 20-9 20-20C185 79 176 70 165 70z"/>
            <path d="M165 140c-8.3 0-15 6.7-15 15v90c0 8.3 6.7 15 15 15 8.3 0 15-6.7 15-15v-90C180 146.7 173.3 140 165 140z"/>
          </svg>
          <p class="h6 m0" style="margin-left: 8px">{{ product.metafields.global.notification_text }}</p>
        </div>
      {% endif %}
      {% if product.metafields.global.customizable_text != blank %}
        <div class="flex items-center dark-gray">
          <svg fill="currentColor" viewbox="0 0 330 330" width="14" xmlns="http://www.w3.org/2000/svg">
            <path d="M165 0C74 0 0 74 0 165 0 256 74 330 165 330s165-74 165-165C330 74 256 0 165 0zM165 300c-74.4 0-135-60.6-135-135C30 90.6 90.6 30 165 30s135 60.6 135 135C300 239.4 239.4 300 165 300z"/>
            <path d="M165 70c-11 0-20 9-20 20 0 11 9 20 20 20 11 0 20-9 20-20C185 79 176 70 165 70z"/>
            <path d="M165 140c-8.3 0-15 6.7-15 15v90c0 8.3 6.7 15 15 15 8.3 0 15-6.7 15-15v-90C180 146.7 173.3 140 165 140z"/>
          </svg>
          <p class="h6 m0" style="margin-left: 8px">{{ product.metafields.global.customizable_text }}</p>
        </div>
      {% endif %}
    </div>
  </div>
</form>
<div class="pdp-description charcoal h5">
  {{ product.description }}
</div>
