{% assign available = product.first_available_variant.available %}

<h2 class="h1 text-normal mt0 mb1">{{ product.title }}</h2>
{% if available %}
  <p class="mt0 mb2 gray">{{ product.price | money_without_trailing_zeros }}</p>
{% else %}
  <p class="mt0 mb2 gray bembo">Sold Out</p>
{% endif %}
<form class="js-cart-form" action="/cart/add" method="post" enctype="multipart/form-data">
  <div class="flex items-center mb1">
    <div class="relative w50p black {% if available == true %}hover-placeholder{% endif %}">
      <div class="placeholder border bembo {% if available != true %}gray{% endif %}">
        <div class="p1 flex items-center justify-center">
          <span>Size</span>
          <div class="arrow-down arrow-down-black"></div>
        </div>
      </div>
      {% if available %}
        <select name="id" class="absolute t0 l0 w100p h100p o0p {% if available == true %}pointer{% endif %}">
          <option value="Size" disabled selected>Size</option>
          {% for variant in product.variants %}
            {% if variant.available == true %}
              <option value="{{ variant.id }}" data-variants-length="{{ variant.inventory_quantity }}">
                {{ variant.title }}
              </option>
            {% else %}
              <option disabled="disabled">
                {{ variant.title }} - sold out!
              </option>
            {% endif %}
          {% endfor %}
        </select>
      {% else %}
        <select class="absolute t0 l0 w100p h100p o0p" disabled>
          <option value="Size" disabled selected>Size</option>
        </select>
      {% endif %}
    </div>
    <span class="pl1"></span>
    <div class="relative w50p black {% if available == true %}hover-placeholder{% endif %}">
      <div class="placeholder p1 border flex items-center justify-center bembo {% if available != true %}gray{% endif %}">
        <span>Qty</span>
        <div class="arrow-down"></div>
      </div>
      {% if available %}
        <select name="quantity" class="absolute t0 l0 w100p h100p o0p {% if available == true %}pointer{% endif %}">
          <option value="Qty" disabled selected>Qty</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      {% else %}
        <select class="absolute t0 l0 w100p h100p o0p" disabled>
          <option value="Qty" disabled selected>Qty</option>
        </select>
      {% endif %}
    </div>
  </div>
  {% if available %}
    <input
      type="submit"
      name="add"
      id="add"
      value="Add to Cart"
      class="bg-black white h4 py1 px2 bembo no-underline w100p pointer no-outline border-none"
    />
  {% else %}
    <input
      type="submit"
      name="add"
      id="add"
      value="Add to Cart"
      class="bg-white gray border border-smoke h4 py1 px2 bembo no-underline w100p no-outline"
      disabled
    />
  {% endif %}
  <p class="add-to-cart-error red h5 hide"></p>
  <section class="product-tabs mt3">
    <ul class="flex list-reset">
      {% for field in product.metafields.Tabs offset:1 %}
        <li class="product-tab light-gray hover-gray border-bottom bembo pointer mr1" data-tab="{{ field | first }}">
          {{ field | first }}
        </li>
      {% endfor %}
      {% for field in product.metafields.Tabs %}
        {% if forloop.first %}
          <li class="product-tab light-gray hover-gray border-bottom bembo pointer" data-tab="{{ field | first }}">
            {{ field | first }}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% for field in product.metafields.Tabs %}
      <pre class="bembo-italic hide pre-line" data-tab="{{ field | first }}">
        {{ field | last }}
      </pre>
    {% endfor %}
  </section>
</form>
