{% assign available = product.first_available_variant.available %}

<h2 class="text-normal mt0 mb1">{{ product.title }}</h2>
{% if available %}
  <span class="mt0 h4 mb1 dark-pink">
    {{ product.price | money_without_trailing_zeros }}
    {% if product.compare_at_price_max > 0 %}
      <strike class="strike dark-pink">
        <span class="mild-gray">{{ product.compare_at_price_max | money_without_trailing_zeros }}</span>
      </strike>
    {% endif %}
  </span>
{% else %}
  <p class="mt0 mb1 medium-gray">Sold Out</p>
{% endif %}
{{ product.description }}
<span class="pb1 block"></span>
<form class="js-cart-form" action="/cart/add" method="post" enctype="multipart/form-data">
  <div class="relative black">
    {% if available %}
      <select name="id" type="hidden">
        {% for variant in product.variants %}
          {% if variant.available == true %}
            <option value="{{ variant.id }}" data-variants-length="{{ variant.inventory_quantity }}">
              {{ variant.title }}
            </option>
          {% else %}
            <option disabled="disabled">
              {{ variant.title }} - sold out!
            </option>
          {% endif %}
        {% endfor %}
      </select>
      {% for product_option in product.options_with_values %}
        <label class="h5 block mb1">
          <span class="block">Select a {{ product_option.name | downcase }}</span>
          <div class="flex">
            {% for value in product_option.values %}
            <div class="product-input relative">
              <input data-position="{{ product_option.position }}" class="absolute t0 l0 r0 b0 w100p h100p pointer m0 o0p z1" type="radio" name="{{ product_option.name }}" value="{{ value }}" {% if product_option.selected_value == value %}checked{% endif %} />
              <button class="product-option medium-gray product-{{ product_option.name }} border border-mild-gray rounded apercu-regular h4 m0 flex items-center justify-center bg-white {% if product_option.selected_value == value %}black border-black{% endif %}">
                <span class="relative">{{ value }}</span>
              </button>
            </div>
            {% endfor %}
          </div>
        </label>
      {% endfor %}
      <input
        type="submit"
        name="add"
        id="add"
        value="Add to Jewel Bag"
        class="button mt1 h5 text-uppercase bg-black rounded white no-border"
      />
    {% endif %}
  </div>
</form>
