{% style %}
  .header-color { color: {{ section.settings.text_color }} }
  .bg-header-color { background-color: {{ section.settings.text_color }} }
{% endstyle %}
<div class="rounded-top mt1 bg-light-pink home-hero {% if settings.display_announcement_banner %}banner-showing{% endif %}">
  <div class="rounded-top image w100p h100p bg-cover bg-center bg-no-repeat fade-image flex items-center justify-center text-center" data-img="{{ section.settings.image | img_url: '2000x' }}">
    <div class="header-color px1">
      <h1 class="m0 text-normal">{{ section.settings.title }}</h1>
      <p class="m0 text-normal">{{ section.settings.description}}</p>
      <a href="{{ section.settings.button_link }}" class="button black h5 text-uppercase rounded no-underline no-border inline-block mt1 bg-header-color">
        {{ section.settings.button_text }}
      </a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title"
      },
      {
        "id": "description",
        "type": "textarea",
        "label": "Description"
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "id": "button_text",
        "type": "text",
        "label": "Button text"
      },
      {
        "id": "button_url",
        "type": "url",
        "label": "Button link"
      },
      {
        "id": "text_color",
        "type": "color",
        "label": "Text/button color",
        "default": "#ffffff"
      }
    ]
  }
{% endschema %}
